
.logo-page h1{  
    font-size: 50px;
    -webkit-box-shadow: 6px 17px 121px -8px rgba(0,0,0,0.73);
    -moz-box-shadow: 6px 17px 121px -8px rgba(0,0,0,0.73);
    box-shadow: 6px 17px 121px -8px rgba(0,0,0,0.73); 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image:url(/images/img-noise-300x100.png) ;
    width: 300px;
    

}
.logo-page a{
    display: flex;
    align-items:flex-start;
    justify-content: space-around right;
    background-image:url(/images/img-noise-300x100.png) ;
    width: 300px;
    margin-top: -50px;
    padding-top: -90px;
    align-self: flex-end;

}
.pict1{
    display: grid;
    color: rgb(41, 183, 183);
    background-image:url(/images/IMG_4180.jpg);
}
.pict2{
    display: grid;
    background-color: aqua;
    background-image: url(/images/IMG_4180.jpg);

}
.pict3{
    display: grid;
    background-color: aqua;
    background-image: url(/images/IMG_4180.jpg);
}
.pict4{
    display: grid;
    background-color: aqua;
    background-image: url(/images/IMG_4180.jpg);
}
.pict5{
    display: grid;
    background-color: aqua;
    background-image: url(/images/IMG_4180.jpg);
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "pict1"
    "pict2 pict3"
    "pict4 pict5";


}

#about h1{
    display: flex;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
    height: 10%;
    color:blue;
}
#about p{
    margin-left: 8rem;
    color: black;
}
.navpage{
    display: flex;
    justify-content: space-evenly;
    -webkit-box-shadow: -14px 2px 42px 1px rgba(85,86,87,1);
    -moz-box-shadow: -14px 2px 42px 1px rgba(85,86,87,1);
    box-shadow: -14px 2px 42px 1px rgba(85,86,87,1);
    align-content: flex-end;
    


}
#work a{
    margin-left: 8rem;
}
.hero-banner{
    background-image: url(/images/hero-banner.jpeg);
    background-size: cover;
    height: 100vh;
    margin-left: 9rem;
}
.hero-banner h2{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: -8rem;

}
#contact{
    W4\
}
